### Task 0: Setup Environment and Load Data

In [3]:
# Load SQL extension
%load_ext sql

# Import necessary libraries
import sqlite3
from prettytable import from_db_cursor
import pandas as pd

# Set correct prettytable style (avoid KeyError)
import prettytable
prettytable.DEFAULT = 'DEFAULT'  # You can remove this if causing error

# Create SQLite database connection
conn = sqlite3.connect("my_data1.db")

# Load your CSV file (use your own file if needed)
df = pd.read_csv("Spacex.csv")
df = df[df["Date"].notnull()]  # Remove rows with blank Date

# Write DataFrame to SQLite
df.to_sql("SPACEXTABLE", conn, if_exists="replace", index=False)

# Activate database for %sql cell magic
%sql sqlite:///my_data1.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Task 1: Display the names of the unique launch sites

In [4]:
%%sql
SELECT DISTINCT Launch_Site FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Task 2: Total number of distinct launch sites

In [5]:
%%sql
SELECT COUNT(DISTINCT Launch_Site) AS count FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[(4,)]

### Task 3: Total Payload Mass for the site CCAFS SLC-40

In [6]:
%%sql
SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE Launch_Site='CCAFS SLC-40';

 * sqlite:///my_data1.db
Done.

[(254037,)]

### Task 4: Average Payload Mass for the site CCAFS SLC-40

In [7]:
%%sql
SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE Launch_Site='CCAFS SLC-40';

 * sqlite:///my_data1.db
Done.

[(7471.676470588235,)]

### Task 5: Max Payload Mass for the site CCAFS SLC-40

In [8]:
%%sql
SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE Launch_Site='CCAFS SLC-40';

 * sqlite:///my_data1.db
Done.

[(15600,)]

### Task 6: Records with max payload

In [9]:
%%sql
SELECT * FROM SPACEXTABLE WHERE PAYLOAD_MASS__KG_=(SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[('2019-11-11', '14:56:00', 'F9 B5 B1048.4', 'CCAFS SLC-40', 'Starlink 1 v1.0, SpaceX CRS-19 ', 15600, 'LEO', 'SpaceX', 'Success', 'Success'),
 ('2020-01-07', '2:33:00', 'F9 B5 B1049.4', 'CCAFS SLC-40', 'Starlink 2 v1.0, Crew Dragon in-flight abort test ', 15600, 'LEO', 'SpaceX', 'Success', 'Success'),
 ('2020-01-29', '14:07:00', 'F9 B5 B1051.3', 'CCAFS SLC-40', 'Starlink 3 v1.0, Starlink 4 v1.0 ', 15600, 'LEO', 'SpaceX', 'Success', 'Success'),
 ('2020-02-17', '15:05:00', 'F9 B5 B1056.4', 'CCAFS SLC-40', 'Starlink 4 v1.0, SpaceX CRS-20', 15600, 'LEO', 'SpaceX', 'Success', 'Failure'),
 ('2020-03-18', '12:16:00', 'F9 B5 B1048.5', 'KSC LC-39A', 'Starlink 5 v1.0, Starlink 6 v1.0 ', 15600, 'LEO', 'SpaceX', 'Success', 'Failure'),
 ('2020-04-22', '19:30:00', 'F9 B5 B1051.4', 'KSC LC-39A', 'Starlink 6 v1.0, Crew Dragon Demo-2 ', 15600, 'LEO', 'SpaceX', 'Success', 'Success'),
 ('2020-06-04', '1:25:00', 'F9 B5 B1049.5', 'CCAFS SLC-40', 'Starlink 7 v1.0, Starlink 8 v1.0', 15600, 'LEO', 'SpaceX, Planet Labs', 'Success', 'Success'),
 ('2020-09-03', '12:46:14', 'F9 B5 B1060.2 ', 'KSC LC-39A', 'Starlink 11 v1.0, Starlink 12 v1.0 ', 15600, 'LEO', 'SpaceX', 'Success', 'Success'),
 ('2020-10-06', '11:29:34', 'F9 B5 B1058.3 ', 'KSC LC-39A', 'Starlink 12 v1.0, Starlink 13 v1.0 ', 15600, 'LEO', 'SpaceX', 'Success', 'Success'),
 ('2020-10-18', '12:25:57', 'F9 B5 B1051.6', 'KSC LC-39A', 'Starlink 13 v1.0, Starlink 14 v1.0 ', 15600, 'LEO', 'SpaceX', 'Success', 'Success'),
 ('2020-10-24', '15:31:34', 'F9 B5 B1060.3', 'CCAFS SLC-40', 'Starlink 14 v1.0, GPS III-04  ', 15600, 'LEO', 'SpaceX', 'Success', 'Success'),
 ('2020-11-25', '2:13:00', 'F9 B5 B1049.7 ', 'CCAFS SLC-40', 'Starlink 15 v1.0, SpaceX CRS-21', 15600, 'LEO', 'SpaceX', 'Success', 'Success')]

### Task 7: Average Payload Mass for each site

In [10]:
%%sql
SELECT Launch_Site, AVG(PAYLOAD_MASS__KG_) as avg_mass FROM SPACEXTABLE GROUP BY Launch_Site;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40', 2590.8846153846152),
 ('CCAFS SLC-40', 7471.676470588235),
 ('KSC LC-39A', 8353.48),
 ('VAFB SLC-4E', 5608.125)]

### Task 8: Records with booster version 'F9 v1.1'

In [11]:
%%sql
SELECT * FROM SPACEXTABLE WHERE Booster_Version LIKE 'F9 v1.1%';

 * sqlite:///my_data1.db
Done.

[('2013-09-29', '16:00:00', 'F9 v1.1  B1003', 'VAFB SLC-4E', 'CASSIOPE', 500, 'Polar LEO', 'MDA', 'Success', 'Uncontrolled (ocean)'),
 ('2013-12-03', '22:41:00', 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt'),
 ('2014-01-06', '22:06:00', 'F9 v1.1', 'CCAFS LC-40', 'Thaicom 6', 3325, 'GTO', 'Thaicom', 'Success', 'No attempt'),
 ('2014-04-18', '19:25:00', 'F9 v1.1', 'CCAFS LC-40', 'SpaceX CRS-3', 2296, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Controlled (ocean)'),
 ('2014-07-14', '15:15:00', 'F9 v1.1', 'CCAFS LC-40', 'OG2 Mission 1  6 Orbcomm-OG2 satellites', 1316, 'LEO', 'Orbcomm', 'Success', 'Controlled (ocean)'),
 ('2014-08-05', '8:00:00', 'F9 v1.1', 'CCAFS LC-40', 'AsiaSat 8', 4535, 'GTO', 'AsiaSat', 'Success', 'No attempt'),
 ('2014-09-07', '5:00:00', 'F9 v1.1 B1011', 'CCAFS LC-40', 'AsiaSat 6', 4428, 'GTO', 'AsiaSat', 'Success', 'No attempt'),
 ('2014-09-21', '5:52:00', 'F9 v1.1 B1010', 'CCAFS LC-40', 'SpaceX CRS-4', 2216, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Uncontrolled (ocean)'),
 ('2015-01-10', '9:47:00', 'F9 v1.1 B1012', 'CCAFS LC-40', 'SpaceX CRS-5', 2395, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)'),
 ('2015-02-11', '23:03:00', 'F9 v1.1 B1013', 'CCAFS LC-40', 'DSCOVR', 570, 'HEO', 'U.S. Air Force NASA NOAA', 'Success', 'Controlled (ocean)'),
 ('2015-03-02', '3:50:00', 'F9 v1.1 B1014', 'CCAFS LC-40', 'ABS-3A Eutelsat 115 West B', 4159, 'GTO', 'ABS Eutelsat', 'Success', 'No attempt'),
 ('2015-04-14', '20:10:00', 'F9 v1.1 B1015', 'CCAFS LC-40', 'SpaceX CRS-6', 1898, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)'),
 ('2015-04-27', '23:03:00', 'F9 v1.1 B1016', 'CCAFS LC-40', 'Turkmen 52 / MonacoSAT', 4707, 'GTO', 'Turkmenistan National Space Agency', 'Success', 'No attempt'),
 ('2015-06-28', '14:21:00', 'F9 v1.1 B1018', 'CCAFS LC-40', 'SpaceX CRS-7', 1952, 'LEO (ISS)', 'NASA (CRS)', 'Failure (in flight)', 'Precluded (drone ship)'),
 ('2016-01-17', '18:42:00', 'F9 v1.1 B1017', 'VAFB SLC-4E', 'Jason-3', 553, 'LEO', 'NASA (LSP) NOAA CNES', 'Success', 'Failure (drone ship)')]

### Task 9: Successful landings by site

In [12]:
%%sql
SELECT Launch_Site, COUNT(*) AS Successes FROM SPACEXTABLE WHERE Landing_Outcome LIKE 'Success%' GROUP BY Launch_Site;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40', 6),
 ('CCAFS SLC-40', 25),
 ('KSC LC-39A', 20),
 ('VAFB SLC-4E', 10)]

### Task 10: Payload Mass by Orbit and Customer

In [13]:
%%sql
SELECT Orbit, Customer, SUM(PAYLOAD_MASS__KG_) as Total_Mass FROM SPACEXTABLE GROUP BY Orbit, Customer ORDER BY Total_Mass DESC;

 * sqlite:///my_data1.db
Done.

[('LEO', 'SpaceX', 185220),
 ('Polar LEO', 'Iridium Communications', 57600),
 ('LEO (ISS)', 'NASA (CRS)', 45596),
 ('LEO', 'SpaceX, Planet Labs', 31010),
 ('GTO', 'SES', 23355),
 ('LEO', 'SpaceX, Planet Labs, PlanetIQ', 15440),
 ('LEO', 'SpaceX, Spaceflight Industries (BlackSky), Planet Labs', 14932),
 ('GTO', 'Telesat', 14135),
 ('LEO (ISS)', 'NASA (CCDev)', 12530),
 ('LEO (ISS)', 'NASA (CCP)', 12500),
 ('LEO (ISS)', 'NASA (CCD) ', 12055),
 ('Sub-orbital', 'NASA (CTS)', 12050),
 ('LEO', 'Iridium Communications', 9600),
 ('GTO', 'SKY Perfect JSAT Group', 9296),
 ('GTO', 'AsiaSat', 8963),
 ('GTO', 'ABS Eutelsat', 7759),
 ('GTO', 'Sky Perfect JSAT, Kacific 1', 6956),
 ('GTO', 'Intelsat', 6761),
 ('GTO', 'Spacecom', 6500),
 ('Polar LEO', 'Iridium Communications GFZ ‚ NASA', 6460),
 ('GTO', 'Thaicom', 6425),
 ('GTO', 'Hispasat  NovaWurks', 6092),
 ('GTO', 'Inmarsat', 6070),
 ('GTO', 'Telkom Indonesia', 5800),
 ('GTO', 'EchoStar', 5600),
 ('GTO', 'Republic of Korea Army, Spaceflight Industries (BlackSky)', 5500),
 ('GTO', 'Es hailSat', 5300),
 ('LEO', 'NRO', 5300),
 ('GTO', 'SES EchoStar', 5200),
 ('LEO', 'Northrop Grumman', 5000),
 ('LEO', 'U.S. Air Force', 4990),
 ('GTO', 'PSN, SpaceIL / IAI', 4850),
 ('GTO', 'Turkmenistan National Space Agency', 4707),
 ('MEO', 'USAF', 4400),
 ('MEO', 'U.S. Space Force', 4311),
 ('MEO', 'USSF', 4311),
 ('SSO', 'Canadian Space Agency (CSA)', 4200),
 ('SSO', 'Spaceflight Industries', 4000),
 ('GTO', 'Bulsatcom', 3669),
 ('GTO', 'Thales-Alenia/BTRC', 3600),
 ('GTO', 'KT Corporation', 3500),
 ('LEO', 'Orbcomm', 3350),
 ('SSO', 'CONAE, PlanetIQ, SpaceX', 3130),
 ('SSO', 'CONAE', 3000),
 ('LEO (ISS)', 'NASA (CRS), Kacific 1', 2617),
 ('SSO', 'Hisdesat exactEarth SpaceX', 2150),
 ('LEO', 'NASA / NOAA / ESA / EUMETSAT', 1192),
 ('HEO', 'U.S. Air Force NASA NOAA', 570),
 ('LEO', 'NASA (LSP) NOAA CNES', 553),
 ('LEO (ISS)', 'NASA (COTS)', 525),
 ('Polar LEO', 'MDA', 500),
 ('SSO', 'NSPO', 475),
 ('HEO', 'NASA (LSP)', 362),
 ('LEO (ISS)', 'NASA (COTS) NRO', 0)]